Source: ros-kinetic-aws-ros1-common
Section: misc
Priority: extra
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-aws-common, ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-rostest
Homepage: http://wiki.ros.org/aws_ros1_common
Standards-Version: 3.9.2

Package: ros-kinetic-aws-ros1-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-aws-common, ros-kinetic-roscpp
Description: Common utilities for ROS1 nodes using Amazon Web Services
